<div class="row text-center">
    <div class="col-md-12">
        <span style="font-size:25px;font-weight:600;color:#ed6d05;">Dziękujemy za wypełnienie formularza.</span>
        <br />
        <span style="font-size:20px;font-weight:600;color:#ed6d05;">Obejrzyj webcast „Jak zarządzać dokumentami w dziale finansowo-księgowym w nowej rzeczywistości?”</span>
    </div>
    <div class="col-md-12">
        <div class="iframe-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/3kTNTZ3-auc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>


@*<div class="row text-center" style="margin-top:20px;">
        <div class="col-md-12">
            <span style="font-size:20px;font-weight:600">

            </span>
        </div>
    </div>*@
